[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
emoji-data = {editable = true,path = "."}
pytest = "*"
pylint = "*"
autopep8 = "*"
jupyter = "*"
sphinx = "*"
twine = "*"

[packages]

[requires]
